
.increaseBtn{
  border: 0.2px solid white;
  outline: none;
  color: rgb(255, 255, 255);
  font-size: x-large;
  border-radius: 20px;
  background-color: rgb(82, 212, 77);
  width: 50px; 
}
.decreaseBtn{
border: 0.2px solid white;
  outline: none;
  color: rgb(255, 255, 255);
  font-size: x-large;
  border-radius: 20px;
  background-color: rgb(244, 57, 57);
  width: 50px; 
}
.tokenValue{
margin: 0px 20px 0px 20px;
}
.mintModalBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mintModalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.427);
  display: flex;
  flex-direction: column;
  padding: 25px;
border: 2px solid white;
  box-shadow: 1px 9px 18px 7px #7a9ccdf2;
}

.mintModalContainer .mintModaltitle {
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  font-family:'Merriweather', serif;
}

.mintModaltitleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.mintModaltitleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: red;
  font-weight: bolder;
}

.mintModalbody input {
  width: 80px;
}
.mintModalbody{
  text-align: center;
}

.mintModalContainer .mintModalfooter {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mintModalcalculateBtn {
  background-color: crimson;
  color: white;
  border-radius:30px ;
  font-size: 20px;
  cursor: pointer;
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
}