.total-investments{
    background-color: var(--secondaryColor);
    color: white;
    text-align: center;
    padding: 20px 40px;
    width: 50%;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 10px 3px 38px 0px rgba(0,0,0,0.3);
}
.total-investments span{
    font-size: large;
    font-weight: bold;
}
.total-investments span input{
    width: 20%;
}
.buyTokensBtn{
    background-color: var(--btnColor);
    border: none;
    padding:8px;
    border-radius: 2px;
    color: white;
}
.about-property{
    color: white;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 10px 3px 38px 0px rgba(0,0,0,0.3);
    grid-column: 2/3;
    width: 100%;
}
.about-property h2{
    text-align: center;
}
.about-map{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    padding: 50px;
}
.map img{
    width: 100%;
    height:100%;
}
.map{
    grid-column: 3/4;
}
.map h2 {
    color: white;
    text-align: center;
}
@media screen and (max-width:1200px){
    .about-map{
        display: block;
        padding: 10px;
    }
    .map{
        margin-top: 10px;
    }
}