.labels{
  color: lightgray;
  float: left;
  margin-bottom: -21px;   
  margin-top:12px;
}
.property-form {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  border: 0.3px rgba(15, 84, 148, 0.781);
  padding: 20px 40px;
  background-color: #182b3c;
  box-shadow: 10px 3px 38px 0px rgba(0, 0, 0, 0.3);
}
.top-heading {
  text-align: center;
  color: #109272;
  font-family: "Merriweather", serif;
}
.inputs {
  margin-top: 20px;
  font-size: 18px;
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 2px;
  background-color: #21374a;
  outline: none;
}
.signup-text {
  text-align: center;
}
.signupbtn {
  color: #109272;
  text-decoration: none;
  font-size: 18px;
}

