.financial{
    color: white;
    justify-content: center;
    grid-gap: 100px;
}
.gapleft{
    float: right;
}
.financial-heading{
    background-color: var(--secondaryColor);
    box-shadow: 10px 3px 38px 0px rgba(0,0,0,0.3);
    width: 80%;
    color: white;
    text-align: center;
    border-radius: 10px ;
    margin: 20px auto;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.financial h5{
    display: inline;
    color: var(--btnColor);
}
.financial-details{
    width: 80%;
    margin:0 auto;
}
.financial-details h2 {
    border-bottom: 1px solid white;
}
.financial-details >h2 >span{
    font-size: 20px;
}