.rukjao{
  width: 100px;
  height: 100px;
}
.success-container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalbox.success {
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
-webkit-border-radius: 2px;
border-radius: 2px;
background: #fff;
padding: 25px 25px 15px;
text-align: center;
width: 400px;
}
.modalbox.success.animate .icon {
-webkit-animation: fall-in 0.75s;
-moz-animation: fall-in 0.75s;
-o-animation: fall-in 0.75s;
animation: fall-in 0.75s;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.modalbox.success h1 {
font-family: 'Montserrat', sans-serif;
}
.modalbox.success p {
font-family: 'Open Sans', sans-serif;
}
.modalbox.success .icon {
position: relative;
margin: 0 auto;
margin-top: -75px;
background: var(--btnColor);
height: 100px;
width: 100px;
border-radius: 50%;
}
.modalbox.success .icon span {
position: absolute;
font-size: 4em;
color: #fff;
text-align: center;
padding-top: 20px;
}
.center {
float: none;
margin-left: auto;
margin-right: auto;
/* stupid browser compat. smh */
}
.center .change {
clear: both;
display: block;
font-size: 10px;
color: #ccc;
margin-top: 10px;
}
